@page
@using MyLuck.Infrastructure.Features.Lotto;
@model MyLuck.UI.Pages.LottoModel

<section class="sectio">
    <div class="container">
        <h1 class="title">Lotto</h1>

        <section class="mb-3">
            <component type="typeof(Components.MyNumbers)" render-mode="ServerPrerendered" />
        </section>

        <h2 class="title is-4">Results</h2>

        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>Special</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lotto in Model.Lottos)
                {
                    <tr>
                        <td>@lotto.DrawTime.ToShortDateString()</td>
                        <td>@lotto.Number1</td>
                        <td>@lotto.Number2</td>
                        <td>@lotto.Number3</td>
                        <td>@lotto.Number4</td>
                        <td>@lotto.Number5</td>
                        <td>@lotto.Number6</td>
                        <td>@lotto.Special</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>

@{
    
}
